<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CUPCAKES</title>
</head>
<body>
    <h1>CUPCAKES</h1>
    <div id="cupcake-list">
    <ul id="cupcake-ul">
    
    </ul>
    </div>

    <form action="/api/cupcakes" method="POST">

        {{form.hidden_tag()}}

        {% for f in form if f.widget.input_type != "hidden" %}
            <p>
                {{f.label}}
                {{f}}
            </p>
        {% endfor %}

        <button type="submit" id="submit">Submit</button>
    </form>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="static/cupcake.js"></script>
</body>
</html>